@charset "utf-8";
/* CSS Document */

body { 
background:url(imagenes/background.jpg);
text-align:center;
 position:relative;}
 
 #contenedor {
 display:block; height:100%; margin:0 0 0 -499px; width:998px; border-top:0!important; border-bottom:0!important; text-align:left; position:fixed; left:50%; top:0; z-index:-1;background:#FFFFFF;
 opacity:0.97;
 }

header { width:940px;  margin:0 0 0 -470px; text-align:left; position:fixed; top:0; left:50%; border:none; z-index:999; zoom:1}
.logo { position:absolute; left:0; top:0; width:141px; height:57px; display:block; padding:12px 0 0 17px; font-size:30px; line-height:36px; text-transform:uppercase; font-family: 'OswaldRegular'; letter-spacing:0.9px;}
.logo:hover, .logo:hover span { text-decoration:none}
	.logo span {font-size:30px; line-height:36px; text-transform:uppercase; font-family:'OswaldRegular'; letter-spacing:0.9px;}
	.logo .slogan { font-size:12px; line-height:12px; text-transform:uppercase; display:block; font-family:'OswaldLight'; letter-spacing:2.75px; margin-top:-3px;}
	.logo .slogan span {font-size:12px; line-height:12px; text-transform:uppercase; font-family:'OswaldLight'; letter-spacing:2.75px;}
	.logo .logo_ico { top:17px; left:-1px; width:14px; height:26px; position:absolute; display:block;}
	/*MainMenu*/
	.head_menu { border-top:none!important; height:34px; display:block;}
	ul.menu {padding:0 0 0 159px; margin:0; list-style:none; float:left; z-index:5}
	ul.menu li { float:left; border-right:1px solid; margin:0!important; position:relative}
	ul.menu li a { display:block; height:34px; line-height:34px; padding:0 20px; text-transform:uppercase; font-size:16px; font-family:'OswaldLight'; letter-spacing:0.7px; text-decoration:none; 
	transition: background-color 250ms, color 250ms; 
	-webkit-transition:background-color 250ms, color 250ms; 
	-moz-transition:background-color 250ms, color 250ms; 
	-o-transition:background-color 250ms, color 250ms; 
}	ul.menu li a:hover { text-decoration:none}
	/*2nd level*/
	ul.menu li ul.sub-menu { position:absolute; left:-1px; top:34px; display:block; padding:0; margin:0; z-index:10}
	ul.menu li ul.sub-menu li { float:none; border-right:none!important; margin:0; border-top:1px solid; width:135px; height:auto!important; position:relative;}
	ul.menu li ul.sub-menu li:first-child { border-top:none}
	ul.menu li ul.sub-menu li a { display:block; height:auto!important; padding:0 18px}	
	/*3rd level*/
	ul.menu li ul.sub-menu li ul.sub-menu {position:absolute; left:101px; top:-1px; display:block; padding:0; margin:0; z-index:15}
	/*MobileMenu*/
	.mobile_menu { display:none}
		
	.head_search { float:left; padding:8px 14px 0px 36px; position:relative;}
	.head_search form { margin:0!important}
	.head_search #submit { width:22px; height:22px; cursor:pointer; position:absolute; left:8px; top:5px; border:none; font-size:16px; line-height:16px; font-family:'FBiconsRegular'; 
	padding:0 6px 0 0px!important; display:block;}
	.head_search #search_field { width:140px; height:16px; border:none; background:none!important; padding:0; margin:0; font-size:12px; text-transform:uppercase; font-family: 'OswaldLight'; letter-spacing:0.75px; }
	
	input, textarea {-webkit-appearance: none!important; -webkit-border-radius:0}
body, html { height:100%}

p { margin-bottom:18px}
p, span, div, td { font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:18px}
p a, p a:visited { line-height:inherit}
a {text-decoration:none}
a:hover { text-decoration:underline}

.responsive_menu {
	cursor: pointer;
	position:absolute; left:180px; top:36px;
    display: none;
    float: right;
    font-family: 'OswaldRegular';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    padding-bottom: 7px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 138px;
	height:34px; 
}
.responsive-menu-wrapper {padding:70px 0 0px 0; display:block; overflow:hidden; display:none; position:relative; z-index:10}
.responsive-menu-items {
	display:none;
    clear: both;
	padding:0px 0 33px 0;
	
}
.responsive_menu .pm {
	font-size:16px;
}
.resp-menu li a {
	display: block;
    font-family: 'OswaldLight';
    font-size: 16px;
    font-weight: 300;
    padding: 9px 12px;
    text-decoration: none;
    text-transform: uppercase;
}
.resp-menu {
	display:block;
}
.resp-menu li {
}
.resp-menu ul {
	border:0px !important;
	 background:none!important;
}
.resp-menu ul li {
	border:0px !important;
}
.resp-menu .sub-menu li a {
	font-family: 'OswaldLight';
    font-size: 12px;
    font-weight: 300;
	padding:2px 12px;
}
.resp-menu .sub-menu {
	margin-bottom: 7px;
    margin-top: -4px;
}
.resp-menu .sub-menu li:last-child {
	border:0px !important;
}
.resp-menu ul li ul.sub-menu { margin-top:0!important}
.resp-menu ul li ul.sub-menu li { padding-left:10px}